<h1> I am the main content </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>


<div class="panel panel-primary">
    <div class="panel-heading">
            <a class="btn btn-default" [routerLink]="['/home/inner-page1']" >Inner Page 1</a>
            <a class="btn btn-default" [routerLink]="['/home/inner-page2']" >Inner Page 2</a>
    </div>        
    <div class="panel-body">
        <router-outlet></router-outlet>
    </div>
  </div>

